include header
.container
  .row
    .col-md-12
      h1 About
      p.
        Lorem
  hr
  .row
    .col-md-12
      h2 The Thesis
      object(src="/evaluating-hadoop-distributions.pdf", width="100%", height="600px")
        embed(src="/evaluating-hadoop-distributions.pdf", width="100%", height="600px")
