include header
.container
  .row
    .col-md-12
      h1 About
      p
        span This web-application and the following Bachelor Thesis have been accomplished at the 
        br
        a(href="http://uni-muenster.de") University of Münster
        span , 
        a(href="http://dbis-group.uni-muenster.de/") DBIS Group
        br
        span Feel free to answer questions or provide feedback.
  hr
  .row
    .col-md-12
      h2 The Thesis
      object(src="/evaluating-hadoop-distributions.pdf", width="100%", height="600px")
        embed(src="/evaluating-hadoop-distributions.pdf", width="100%", height="600px")
